In [5]:
import Table_01
import Table_A1
import Table_A1_to_latex

### 1. Table 01

#### 1-1 Pull the NY Fed primary dealers list from the NY Fed website

* Utilize the pull_nyfed_primary_dealers_list function, as defined in the 'load_nyfed.py' file, to download the 'nyfed_primary_dealers_list.xls' Excel file. This function saves the downloaded file into the 'data/pulled' directory.

* This process is managed by the task_pullnyfed_main() function in the 'dodo.py' file. It handles downloading the 'nyfed_primary_dealers_list.xls' Excel file and saving it in the 'data/pulled' directory.

#### 1-2 Load the NY Fed primary dealers list from the cached files in the 'data/pulled' directory

* Use the 'load_nyfed_primary_dealers_list' function to access the NY Fed primary dealers list from the cached data in the 'data/pulled' directory. Focus on the '2000s' and 'Dealer Alpha' worksheets to extract the list of primary dealers as of February 2014, aiming to replicate Table 1.

#### 1-3 Replicate Table 1 using data from the 'nyfed_primary_dealers_list.xls' Excel file

* The '2000s' worksheet provides annual listings of primary dealers from 2000 to 2014; refine this data to isolate dealers active as of February 2014.

In [4]:
Table_01.df_2014.head()

                         Primary Dealer
0  BANK OF NOVA SCOTIA, NEW YORK AGENCY
1   BARCLAYS CAPITAL INC.
2            BMO CAPITAL MARKETS CORP.
3      BNP PARIBAS SECURITIES CORP.
4               CANTOR FITZGERALD & CO.

* The 'Dealer Alpha' worksheet covers all primary dealers from 1960 to 2014, including their start and end dates. Clean this data to facilitate matching with the primary dealer listings found in the '2000s' worksheet."

In [5]:
Table_01.df_dealer_alpha.head()

0                             Primary Dealer Start Date    End Date
0       ABN AMRO BANK, N.V., NY BR           2002-12-09  2006-09-15
1       ABN AMRO INCORPORATED                1998-09-29  2002-12-08
2        AUBREY G. LANSTON & CO., INC.       1960-05-19  2000-04-17
3        BA SECURITIES, INC.                 1994-04-18  1997-09-30
4  BANC OF AMERICA SECURITIES LLC            1999-05-17  2010-11-01

* Match the 2014 primary dealer list with their start dates, taking care to handle name discrepancies across two Excel sheets, such as extra spaces or differences in punctuation.

* Also, for dealers who were active, paused, and then resumed, use their latest start date. The code should adjust for these variations to correctly align with the table in the paper. Lastly, arrange the start dates from earliest to most recent.

In [6]:
Table_01.merged_df.head()

                        Primary Dealer Start Date
0  GOLDMAN, SACHS & CO.                1974-12-04
1  BARCLAYS CAPITAL INC.               1998-04-01
2  HSBC SECURITIES (USA) INC.          1999-06-01
3     BNP PARIBAS SECURITIES CORP.     2000-09-15
4     DEUTSCHE BANK SECURITIES INC.    2002-03-30

* The author manually matched dealers with their publicly-traded holding companies. For the replication, a 'ticks.csv' file was created and placed in the 'data/manual' directory, containing the mapping information between primary dealers and their holding companies. Subsequently, an additional column was introduced to the 'merged_df' table to display the corresponding holding company for each dealer, utilizing the information from the 'ticks.csv' file.

In [7]:
Table_01.merged_df_final.head()

,Primary Dealer,Holding Company,Start Date
,"GOLDMAN, SACHS & CO.","The Goldman Sachs Group, Inc.",12/4/1974
,BARCLAYS CAPITAL INC.,Barclays PLC,4/1/1998
,HSBC SECURITIES (USA) INC.,HSBC Holdings PLC,6/1/1999
,BNP PARIBAS SECURITIES CORP.,BNP Paribas Group,9/15/2000
,DEUTSCHE BANK SECURITIES INC.,Deutsche Bank AG,3/30/2002

#### 1-4 Validate adjusted primary dealer names and dates against expected results

* Ensure that 'Primary Dealer' names and 'Start Dates' in Table_01.merged_df_final, after removing spaces and periods and applying specific naming exceptions, align with expected results.

* Exceptions include adjusting 'Bank of Nova Scotia, New York Agency' to 'Bank of Nova Scotia, NY Agency' and shortening 'Merrill Lynch, Pierce, Fenner & Smith Incorporated' to 'Merrill Lynch, Pierce, Fenner & Smith'.

#### 1-5 Convert the table to LaTeX format using the to_latex() function

* The to_latex function, located in the 'Table_01_to_latex.py' file, is used to convert the 'merged_df_final' table into LaTeX format. The resulting LaTeX code is then saved into the 'Table_01_to_latex.tex' file within the output directory.

* Before converting the table to LaTeX format, replace '&' with '\\&' in company names. Since LaTeX uses '&' to recognize table columns, an unescaped '&' in company names can cause errors when generating the table in LaTeX format.

#### 1-6 Complete the LaTeX setup to replicate Table 1, incorporating the formatted table

* Use the 'Table_01_to_latex.tex' file from the 'output' directory, which contains the table in LaTeX format, to create a 'Report_Table_01.tex' file in the 'reports' directory. This action replicates the entire table. The table is inserted into 'Report_Table_01.tex' by employing the '\input{\PathToOutput/Table_01_to_latex.tex}' command.

### 2. Table A.1

#### 2-1 Load the NY Fed primary dealers list from the cached files in the 'data/pulled' directory

* Use the 'load_nyfed_primary_dealers_list' function to access the NY Fed primary dealers list from the cached data in the 'data/pulled' directory. This time, focus on the 'Dealer Alpha' worksheets to extract the list of primary dealers from 1960 to 2014, including their start and end dates, with the aim of replicating Table A.1.

#### 2-2 Replicate Table A.1 using data from the 'nyfed_primary_dealers_list.xls' Excel file

* Clean the data from the 'Dealer Alpha' worksheet to replicate Table A.1, including formatting dates and marking companies still active as primary dealers with 'Current' in the end date column, etc.

In [3]:
Table_A1.df_dealer_alpha.head()

0                             Primary Dealer Start Date   End Date
0       ABN AMRO BANK, N.V., NY BR            12/9/2002  9/15/2006
1       ABN AMRO INCORPORATED                 9/29/1998  12/8/2002
2        AUBREY G. LANSTON & CO., INC.        5/19/1960  4/17/2000
3        BA SECURITIES, INC.                  4/18/1994  9/30/1997
4  BANC OF AMERICA SECURITIES LLC             5/17/1999  11/1/2010

#### 2-3 Convert the table to LaTeX format using the to_latex() function

* The to_latex function, found in the 'Table_A1_to_latex.py' file, is used to convert the 'df_dealer_alpha' table into LaTeX format. The resulting LaTeX code is then saved in the 'Table_A1_to_latex.tex' file within the output directory.

* As described in the Table 01 replication process, before converting the table to LaTeX format, replace '&' with '\\&' in company names. This is necessary because LaTeX uses '&' to recognize table columns, and an unescaped '&' in company names can cause errors when generating the table in LaTeX format.

* To match the format presented in Table A.1, separate the primary dealer list at the midpoint, adding a separator column for visual division

In [6]:
Table_A1_to_latex.df_combined.head()

,Primary Dealer,Start Date,End Date,,Primary Dealer,Start Date,End Date
0,"ABN AMRO BANK, N.V., NY BR",12/9/2002,9/15/2006,,HARRIS TRUST,7/15/1965,8/31/1988
1,ABN AMRO INCORPORATED,9/29/1998,12/8/2002,,"HARRIS-NESBITT THOMSON SEC., INC.",12/31/1992,9/7/1993
2,"AUBREY G. LANSTON \& CO., INC.",5/19/1960,4/17/2000,,HSBC SECURITIES (USA) INC.,6/1/1999,Current
3,"BA SECURITIES, INC.",4/18/1994,9/30/1997,,"HSBC SECURITIES, INC.",5/9/1994,5/31/1999
4,BANC OF AMERICA SECURITIES LLC,5/17/1999,11/1/2010,,HUTTON,11/2/1977,12/31/1987

#### 2-4 Complete the LaTeX setup to replicate Table A.1, incorporating the formatted table

* To replicate the entire table in a report, use the 'Table_A1_to_latex.tex' file from the 'output' directory. Create a 'Report_Table_A1.tex' file in the 'reports' directory and insert the table by using the command '\input{\PathToOutput/Table_A1_to_latex.tex}'.

#### 2-5 Limitations on Replicating Table A.1

* While the replication closely mirrors Table A.1 in format, the list of primary dealers, and data accuracy including start and end dates, a perfect match with the original Table A.1 in the paper is not achieved for several reasons:

* The original paper used shorter, abbreviated company names in a less consistent manner compared to Table 1, unlike the NY Fed's Excel file which provided full names.

* The author consolidated the list by combining entries that, despite name changes, continued as primary dealers. In contrast, the Excel file from the NY Fed presents a more extensive list by including all dealers, accounting for their names before and after changes, resulting in a higher number of entries.

* Due to the differences in abbreviation usage and the consolidation approach by the author, conducting precise unit testing was challenging, as the subjectivity in primary dealer name abbreviation and entry combination affected the direct comparison.